In [1]:
import pandas as pd
import numpy as np
from textblob import TextBlob
import nltk
import re
import string
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem.wordnet import WordNetLemmatizer
from sklearn.decomposition import NMF, LatentDirichletAllocation
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
from nltk.tokenize import TweetTokenizer
from sklearn.externals import joblib
from sklearn.cluster import KMeans
from sklearn.manifold import TSNE

%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [2]:
df = pd.read_pickle('../data/datagroups.pkl')

In [4]:
df.shape

(2811774, 13)

In [9]:
groupDF = df.groupby('group_id').tweet_id.count().reset_index()
groupDF.sort_values('tweet_id',ascending=False, inplace=True)

In [10]:
groupDF

            group_id  tweet_id
325140  group_392623      1339
769545  group_792589       653
781819   group_88734       448
381313  group_443179       400
508003   group_55720       284
581994  group_623792       231
357041  group_421333       224
723431  group_751085       220
444659   group_50019       213
484018  group_535613       212
146836  group_232149       210
637638  group_673872       202
183913  group_265519       143
577447   group_61970       137
567974  group_611173       130
30447     group_1274       130
773234   group_81006       123
326943  group_394246       122
768605  group_791742       118
526446    group_5738       115
399402   group_45946       114
525162  group_572643       113
263556  group_337198       108
475792   group_52821       106
181880   group_26369       102
684583  group_716121       102
160220  group_244195        98
504736   group_55426        98
488951  group_540052        98
168021  group_251215        90
...              ...       ...
502279  group_552048         2
502278  group_552047         2
502277  group_552046         2
43454   group_139105         2
502303   group_55207         2
43448    group_13910         2
502318  group_552083         2
502328  group_552092         2
502327  group_552091         2
502326  group_552090         2
502325   group_55209         2
43449   group_139100         2
263580  group_337219         2
263581   group_33722         2
263583  group_337221         2
43450   group_139101         2
43451   group_139102         2
502317  group_552082         2
43453   group_139104         2
263585  group_337223         2
502315  group_552080         2
502313  group_552079         2
502312  group_552078         2
502311  group_552077         2
502310  group_552076         2
502309  group_552075         2
502308  group_552074         2
77030   group_169324         2
263590  group_337228         2
450205  group_505181         2

[794335 rows x 2 columns]

In [11]:
filteredDF = df[df.group_id == 'group_392623']

In [12]:
filteredDF

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,date,time,month,all_sent,group_id,tweet_num
1460632,1605828,492680,True,Mon Nov 06 00:00:42 +0000 2017,@492681 @492679 @129141 @135779 @ATVIAssist I ...,1605829,1605827.0,2017-11-06 00:00:42,00:00:42,11,0.0000,group_392623,1
1461573,1606076,140141,True,Mon Nov 06 00:02:05 +0000 2017,@492680 @ATVIAssist @115765 J ai le même problème,1606079,625790.0,2017-11-06 00:02:05,00:02:05,11,0.0000,group_392623,2
1460633,1605829,492679,True,Mon Nov 06 00:02:22 +0000 2017,@492680 @492681 @129141 @135779 @ATVIAssist Ye...,1605830,1605828.0,2017-11-06 00:02:22,00:02:22,11,0.5574,group_392623,3
1461607,1606117,493355,True,Wed Nov 08 00:04:04 +0000 2017,@493354 @492680 @493357 @493307 @493356 @49335...,"1606118,1606119",1606115.0,2017-11-08 00:04:04,00:04:04,11,-0.4019,group_392623,4
1461060,625387,492983,True,Mon Nov 06 00:05:00 +0000 2017,"@ATVIAssist Around 11am EST it was back up, th...",NaN,625011.0,2017-11-06 00:05:00,00:05:00,11,0.8555,group_392623,5
1461059,625386,492982,True,Mon Nov 06 00:05:08 +0000 2017,@ATVIAssist Haven’t been able to connect and h...,NaN,625011.0,2017-11-06 00:05:08,00:05:08,11,0.3400,group_392623,6
1461058,625385,492981,True,Mon Nov 06 00:05:35 +0000 2017,@ATVIAssist @115765 Not working again,NaN,625011.0,2017-11-06 00:05:35,00:05:35,11,0.0000,group_392623,7
1461057,625384,492980,True,Mon Nov 06 00:05:46 +0000 2017,@ATVIAssist @115765 Does support even answer p...,NaN,625011.0,2017-11-06 00:05:46,00:05:46,11,0.4019,group_392623,8
1461056,625383,492979,True,Mon Nov 06 00:06:11 +0000 2017,@ATVIAssist I’m having trouble,NaN,625011.0,2017-11-06 00:06:11,00:06:11,11,-0.4019,group_392623,9
1461574,1606079,492680,True,Mon Nov 06 00:06:37 +0000 2017,@140141 @ATVIAssist @115765 Same,NaN,1606076.0,2017-11-06 00:06:37,00:06:37,11,0.0000,group_392623,10
1461055,625382,492978,True,Mon Nov 06 00:06:54 +0000 2017,@ATVIAssist @66656,NaN,625011.0,2017-11-06 00:06:54,00:06:54,11,0.0000,group_392623,11
1461593,1606102,493356,True,Tue Nov 07 00:07:04 +0000 2017,@493355 @492680 @493354 @493307 @493353 @49289...,1606103,1606101.0,2017-11-07 00:07:04,00:07:04,11,-0.7661,group_392623,12
1461570,625788,493351,True,Mon Nov 06 00:07:12 +0000 2017,@ATVIAssist @ATVIAssist I am unable to retriev...,NaN,625011.0,2017-11-06 00:07:12,00:07:12,11,0.0000,group_392623,13
1460634,1605830,492680,True,Mon Nov 06 00:07:12 +0000 2017,@492679 @492681 @129141 @135779 @ATVIAssist Same,1605831,1605829.0,2017-11-06 00:07:12,00:07:12,11,0.0000,group_392623,14
1461054,625381,492977,True,Mon Nov 06 00:08:48 +0000 2017,@ATVIAssist I had the challenge to stun an ene...,NaN,625011.0,2017-11-06 00:08:48,00:08:48,11,-0.5187,group_392623,15
1461149,1605988,493043,True,Mon Nov 06 00:10:37 +0000 2017,@492896 @245859 @ATVIAssist Yea I did,NaN,1605986.0,2017-11-06 00:10:37,00:10:37,11,0.0000,group_392623,16
1461406,625682,493251,True,Tue Nov 07 00:11:01 +0000 2017,"@ATVIAssist @115766 Can't get online still, pl...",NaN,625011.0,2017-11-07 00:11:01,00:11:01,11,0.6124,group_392623,17
1461053,625380,492976,True,Mon Nov 06 00:11:30 +0000 2017,@ATVIAssist I can't connect to michael,NaN,625011.0,2017-11-06 00:11:30,00:11:30,11,0.0000,group_392623,18
1460635,1605831,492679,True,Mon Nov 06 00:12:34 +0000 2017,@492680 @492681 @129141 @135779 @ATVIAssist Yo...,1605832,1605830.0,2017-11-06 00:12:34,00:12:34,11,0.1280,group_392623,19
1460936,1605931,492887,True,Mon Nov 06 00:12:34 +0000 2017,@492889 @492886 @ATVIAssist @115765 What conso...,NaN,1605930.0,2017-11-06 00:12:34,00:12:34,11,0.0000,group_392623,20
1461660,625809,478745,True,Mon Nov 06 00:14:39 +0000 2017,@ATVIAssist @115766 WTF i reached level 23 in...,1606145,625011.0,2017-11-06 00:14:39,00:14:39,11,-0.9042,group_392623,21
1461711,1606169,ATVIAssist,False,Fri Nov 10 00:15:31 +0000 2017,"@492555 Good afternoon, sorry for the delay, a...",NaN,625835.0,2017-11-10 00:15:31,00:15:31,11,0.0772,group_392623,22
1460937,1605932,492887,True,Mon Nov 06 00:17:50 +0000 2017,@492889 @492886 @ATVIAssist @115765 What conso...,"1605933,1605934",1605930.0,2017-11-06 00:17:50,00:17:50,11,0.0000,group_392623,23
1461407,625683,493252,True,Tue Nov 07 00:19:16 +0000 2017,@ATVIAssist I’m still having issues,NaN,625011.0,2017-11-07 00:19:16,00:19:16,11,0.0000,group_392623,24
1461564,1606072,493348,True,Mon Nov 06 00:19:25 +0000 2017,@277500 @ATVIAssist @115765 Connect your conso...,1606073,625785.0,2017-11-06 00:19:25,00:19:25,11,0.0000,group_392623,25
1461090,1605976,493003,True,Mon Nov 06 00:19:32 +0000 2017,@493002 @ATVIAssist @115766 Surely you must be...,1605977,1605975.0,2017-11-06 00:19:32,00:19:32,11,0.4404,group_392623,26
1461073,625394,492990,True,Mon Nov 06 00:19:36 +0000 2017,@ATVIAssist @115765 Oh yea haven't been able t...,NaN,625011.0,2017-11-06 00:19:36,00:19:36,11,-0.0772,group_392623,27
1460907,1605912,ATVIAssist,False,Thu Nov 09 00:19:41 +0000 2017,@492869 Hi there! Please reach out to me at th...,NaN,625288.0,2017-11-09 00:19:41,00:19:41,11,0.6360,group_392623,28
1461563,1606071,493348,True,Mon Nov 06 00:19:43 +0000 2017,@277500 @ATVIAssist @115765 Worked for me and ...,NaN,625785.0,2017-11-06 00:19:43,00:19:43,11,0.0000,group_392623,29
1461072,625393,492989,True,Mon Nov 06 00:19:49 +0000 2017,@ATVIAssist Still down on my end please let me...,NaN,625011.0,2017-11-06 00:19:49,00:19:49,11,0.3182,group_392623,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461025,625355,492952,True,Sun Nov 05 23:42:22 +0000 2017,@ATVIAssist I've been trying to contact you gu...,NaN,625011.0,2017-11-05 23:42:22,23:42:22,11,0.1280,group_392623,1310
1460625,1605821,492679,True,Sun Nov 05 23:42:40 +0000 2017,@492680 @129141 @135779 @ATVIAssist Wow,NaN,1605820.0,2017-11-05 23:42:40,23:42:40,11,0.5859,group_392623,1311
1461026,625356,492953,True,Sun Nov 05 23:42:58 +0000 2017,@ATVIAssist @115766 Servers are down for me ri...,NaN,625011.0,2017-11-05 23:42:58,23:42:58,11,0.0000,group_392623,1312
1461562,1606070,493347,True,Sun Nov 05 23:43:10 +0000 2017,@277500 @ATVIAssist @115765 Im not even seeing...,NaN,625785.0,2017-11-05 23:43:10,23:43:10,11,0.0000,group_392623,1313
1461697,1606162,493395,True,Mon Nov 06 23:45:56 +0000 2017,"@493394 @ATVIAssist One thing is for sure, God...",1606163,625828.0,2017-11-06 23:45:56,23:45:56,11,0.5267,group_392623,1314
1460628,1605824,492680,True,Sun Nov 05 23:46:58 +0000 2017,@492681 @492679 @129141 @135779 @ATVIAssist Yo...,1605825,1605822.0,2017-11-05 23:46:58,23:46:58,11,-0.2057,group_392623,1315
1461572,625790,492680,True,Sun Nov 05 23:48:43 +0000 2017,@ATVIAssist @115765 Excuse me @ATVIAssist I ju...,"1606076,1606077,1606078",625011.0,2017-11-05 23:48:43,23:48:43,11,-0.1119,group_392623,1316
1461577,1606078,492680,True,Sun Nov 05 23:49:18 +0000 2017,@ATVIAssist @115765 It says this https://t.co/...,"1606081,1606082,1606083,1606084,1606085,160608...",625790.0,2017-11-05 23:49:18,23:49:18,11,0.0000,group_392623,1317
1460629,1605825,492681,True,Sun Nov 05 23:50:03 +0000 2017,@492680 @492679 @129141 @135779 @ATVIAssist Ye...,1605826,1605824.0,2017-11-05 23:50:03,23:50:03,11,0.0000,group_392623,1318
1460630,1605826,492680,True,Sun Nov 05 23:50:51 +0000 2017,@492681 @492679 @129141 @135779 @ATVIAssist Da...,1605827,1605825.0,2017-11-05 23:50:51,23:50:51,11,0.5994,group_392623,1319
1461050,625378,492975,True,Sun Nov 05 23:51:35 +0000 2017,@ATVIAssist @115766 Worst cod launch ever. Fix...,NaN,625011.0,2017-11-05 23:51:35,23:51:35,11,-0.7783,group_392623,1320
1460631,1605827,492681,True,Sun Nov 05 23:51:38 +0000 2017,@492680 @492679 @129141 @135779 @ATVIAssist Ye...,1605828,1605826.0,2017-11-05 23:51:38,23:51:38,11,0.0000,group_392623,1321
1461048,625377,492974,True,Sun Nov 05 23:51:46 +0000 2017,@ATVIAssist @115765 Still no preorder content....,1605965,625011.0,2017-11-05 23:51:46,23:51:46,11,0.4215,group_392623,1322
1460568,1605740,492660,True,Sun Nov 05 23:51:56 +0000 2017,@492647 @ATVIAssist Level 4 with 9 hours playe...,NaN,625095.0,2017-11-05 23:51:56,23:51:56,11,0.0000,group_392623,1323
1461047,625376,492973,True,Sun Nov 05 23:52:19 +0000 2017,@ATVIAssist Great....your servers are still shit,NaN,625011.0,2017-11-05 23:52:19,23:52:19,11,-0.5574,group_392623,1324
1461569,625787,493350,True,Sun Nov 05 23:53:10 +0000 2017,@ATVIAssist What about my 18-1 TDM stats that ...,NaN,625011.0,2017-11-05 23:53:10,23:53:10,11,-0.3939,group_392623,1325
1461052,1605966,492660,True,Sun Nov 05 23:53:21 +0000 2017,@492709 @ATVIAssist Easy fix. Just buy an Xbox,NaN,625379.0,2017-11-05 23:53:21,23:53:21,11,0.4404,group_392623,1326
1461568,625786,493349,True,Sun Nov 05 23:53:38 +0000 2017,@ATVIAssist Something is up all the screens ar...,NaN,625011.0,2017-11-05 23:53:38,23:53:38,11,-0.1027,group_392623,1327
1461046,625375,492972,True,Sun Nov 05 23:53:44 +0000 2017,@ATVIAssist @115765 It takes so long for me to...,NaN,625011.0,2017-11-05 23:53:44,23:53:44,11,0.0000,group_392623,1328
1461065,1605969,492985,True,Sun Nov 05 23:54:52 +0000 2017,@492892 @ATVIAssist No,NaN,1605967.0,2017-11-05 23:54:52,23:54:52,11,-0.2960,group_392623,1329
1461045,625374,492971,True,Sun Nov 05 23:55:10 +0000 2017,@ATVIAssist @115766 Respond to my message alre...,NaN,625011.0,2017-11-05 23:55:10,23:55:10,11,0.0000,group_392623,1330
1461044,625373,492970,True,Sun Nov 05 23:55:14 +0000 2017,@ATVIAssist This is laughable. https://t.co/O8...,NaN,625011.0,2017-11-05 23:55:14,23:55:14,11,0.0516,group_392623,1331
1461064,1605968,492985,True,Sun Nov 05 23:55:38 +0000 2017,@492892 @ATVIAssist I’ve been playing campaign...,NaN,1605967.0,2017-11-05 23:55:38,23:55:38,11,0.2023,group_392623,1332
1461042,625372,492968,True,Sun Nov 05 23:56:38 +0000 2017,@ATVIAssist Error code: 1 &amp; error code : 5...,1605964,625011.0,2017-11-05 23:56:38,23:56:38,11,-0.4588,group_392623,1333
1461041,625371,492967,True,Sun Nov 05 23:57:09 +0000 2017,@ATVIAssist bro wtf ....JUST Y!!! https://t.co...,NaN,625011.0,2017-11-05 23:57:09,23:57:09,11,-0.6884,group_392623,1334
1461040,625370,492966,True,Sun Nov 05 23:57:24 +0000 2017,@ATVIAssist Mine doesn’t spawn me in the HQ wi...,NaN,625011.0,2017-11-05 23:57:24,23:57:24,11,-0.2500,group_392623,1335
1461039,625369,492965,True,Sun Nov 05 23:57:39 +0000 2017,@ATVIAssist @115765 Still nope but you already...,NaN,625011.0,2017-11-05 23:57:39,23:57:39,11,0.0000,group_392623,1336
1461038,625368,492964,True,Sun Nov 05 23:58:32 +0000 2017,@ATVIAssist Still don't have my pre order bonuses,NaN,625011.0,2017-11-05 23:58:32,23:58:32,11,0.5574,group_392623,1337
1461037,625367,492963,True,Sun Nov 05 23:58:58 +0000 2017,@ATVIAssist I still have the problem,NaN,625011.0,2017-11-05 23:58:58,23:58:58,11,-0.4019,group_392623,1338
1461036,625366,492962,True,Sun Nov 05 23:59:00 +0000 2017,@ATVIAssist I have been having problems all da...,NaN,625011.0,2017-11-05 23:59:00,23:59:00,11,-0.5994,group_392623,1339

Looks like there are interactions, mainly for activision

In [15]:
import plotly.plotly as py
from plotly.graph_objs import *

import networkx as nx